pyinstaller
python-dotenv
langchain
langgraph
langchain_experimental
langchain_openai
langchain-google-vertexai==1.0.8
langchain_google_community
beautifulsoup4
pandas
faiss-cpu
vertexai

Pillow
rich
matplotlib
emoji
absl-py
langchain_text_splitters
langchain_community
google-cloud-aiplatform